<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ndiaz.parquesbsas">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".ParquesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashScreen"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.CreateUserActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MySettings" />
        <activity
            android:name=".ui.activities.ListaParquesActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activities.reclamos.ListaReclamosUsuarioActivity" />
        <activity android:name=".ui.activities.info_parques.ParqueActivity" />
        <activity android:name=".ui.activities.info_parques.DescGeneralParqueActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaActividadesActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaActividadesHorariosActivity" />
        <activity
            android:name=".ui.activities.reclamos.AgregarReclamoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.reclamos.DetalleReclamo" />
        <activity android:name=".ui.activities.PerfilUsuarioActivity" />
        <activity android:name=".ui.activities.reclamos.ListaReclamosParqueActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaFeriasActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaEstSaludActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaFeriasItinerantesActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaPuntosVerdesActivity" />
        <activity android:name=".ui.activities.componentes_parque.ListaEncuestasParqueActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>